#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Avenir,Century Gothic,sans-serif;
  font-size: calc(10px + 2vmin);
  font-style: normal;
  font-weight: 100;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

.app-sidebar {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 250px;
  background-color: hsla(0,0%,100%,.1);
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.header-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.menu {
  color: #fff;
}
.menu ul {
  padding-left: 5px;
}

.menu-item {
  align-items: flex-start;
  color: #fff;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0 0 35px;
}

.app-page {
  padding-left: 300px;
  top: 0;
}

.App-row, .container {
  align-items: center;
  display: flex;
}

.Card{
  border-radius: 24px;
  font-size: medium;
  text-align: center;
  background-color: hsla(0,0%,100%,.1);
    box-shadow: 0 15px 25px hsla(0,2%,50%,.2);
    margin-bottom: 30px;
    width: 300px;
}

.List {
  background-color: hsla(0,0%,100%,.092);
  box-shadow: 0 15px 25px hsla(0,2%,50%,.154);
  padding: 20px 20px 40px;
  width: 100vw;
}

.filters {
  display: flex;
  margin-left: 150px;
  padding-bottom: 20px;
  padding-top: 10px;
}